<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QRCODE-GENERATOR</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
        <h1>Générateur de QR Code</h1>
        <form action="/generate" method="post" autocomplete="off">
            <label for="siteName">Nom du site:</label>
            <input type="text" id="siteName" name="siteName" placeholder="Entrer le nom du site">
            <label for="url">URL du site:</label>
            <input type="text" id="url" name="url" placeholder="ENtre l'url du site">
            <button type="submit">Générer</button>
        </form>
    </input>
  </body>
</html>