<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QRCODE-GENERATOR</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
        <h1>QR Code du site : <%= siteName %> </h1>
        <img src="<%= qrPath %>" alt="<%= siteName %>">
        <a href="/" class="btn">Revenir au formulaire</a>
    </div>
  </div>
</html>